.cards {
  display: flex;
  flex-wrap: wrap; 
  padding: 40px 0;
}

/* individual card styling */
.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 10px;
  flex-basis: 300px;
  flex-grow: 1;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 5px;
  border-bottom: 3px solid #3d2b1f; /* brown coffee color */
}

.card img {
  width: 100px;
}

.card h3 {
  flex-grow: 1;
  padding-left: 20px;
  font-size: 18px;
  color: #3d2b1f; /* deep coffee brown color */
}